label{
}

h1 {
	color: #763F39;
	font-family: 'Playfair Display', serif;
	font-variant: small-caps;
	font-weight: bold;
	font-size:28;
}

h2 {
	color: #000;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	margin-top: 0;
	margin-bottom:20;
	font-size:24;
}

h3, h4, p {
	color: #000;
	font-family: 'Playfair Display', serif;
	font-size:18;
	max-width: 80%;
}

body {
  background-color: #f8f9f3;
  margin: 5%, 5%, 5%, 5%;
}